.logo {
    background-color: rgba({{logo.backgroundColor.red}}, {{logo.backgroundColor.green}}, {{logo.backgroundColor.blue}}, {{logo.backgroundColor.alpha}});
    left: {{logo.left}}px;
    top: {{logo.top}}px;
}

.header {
    color: rgba({{header.color.red}}, {{header.color.green}}, {{header.color.blue}}, {{header.color.alpha}})
    text-align: {{header.align}}
}

